@model Assessment.Models.Rubric

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rubric</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abbreviation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abbreviation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        @if (Model.RubricCriteria?.Any() ?? false) {
            <dt class="col-sm-2">
                Details
            </dt>
            <dd class="col-sm-10">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Capstone</th>
                            <th colspan="2">Milestone</th>
                            <th>Benchmark</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>4</th>
                            <th>3</th>
                            <th>2</th>
                            <th>1</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var criteria in Model.RubricCriteria) {
                            <tr>
                                <td>@Html.Raw(criteria.Name)</td>
                                <td>@Html.Raw(criteria.Desciption4)</td>
                                <td>@Html.Raw(criteria.Desciption3)</td>
                                <td>@Html.Raw(criteria.Desciption2)</td>
                                <td>@Html.Raw(criteria.Desciption1)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </dd>
        }

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
