@model Assessment.Models.RubricCriteriaElement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RubricCriteriaElement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RubricCriteriaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RubricCriteriaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CriteriaText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CriteriaText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoreValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
